# Quoted from https://www.kagoya.jp/howto/it-glossary/develop/githubactions/
name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
    - run: echo "Hello World"
